<h3>Users</h3>
<p *ngIf="loading">Loading Users....</p>
<table *ngIf="!loading">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
    </thead>
    <tbody>
        @for (u of users; track $index){
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.name }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.phone }}</td>
            </tr>
        }
    </tbody>
<h3 *ngIf="err">Error fetching users: {{ err }}</h3>
</table>
